<br>
<br>
<br>
<br>
<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
  	<%= label_tag :email %><br />
  	<p class="user_input">
  		<%= text_field_tag :email, params[:email] %>
  	</p>
  </div>
  <div class="field">
  	<%= label_tag :password %><br />
  	<p class="user_input">
  		<%= password_field_tag :password %>
  	</p>
  </div>
  <div class="actions"><%= submit_tag "Log In" %>
<% end %>