<%= form_for([@card, @card.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br>
    <p class="user_input">
      <%= f.text_field :commenter %>
    </p>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <p class="user_input">
      <%= f.text_area :body %>
    </p>
  </div>
  <div class="actions"><%= submit_tag "Submit" %>
<% end %>