<%= form_for @card do |f| %>
  <% if @card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>
    
    <ul>
    <% @card.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %>
    <p class="user_input">
      <%= f.text_field :subject %>
    </p>

    <%= f.label :content %>
    <p class="user_input">
      <%= f.text_field :content %>
    </p>
  </div>
 
  <div class="field">
    <%= f.label :fact %><br>
    <p class="user_input">
      <%= f.text_area :fact %>
    </p>
  </div>
 
  <div class="field">
    <div class="actions"><%= submit_tag "Submit" %>
  </div>

  <div class="field">
    <%= f.label :references %><br>
    <p class="user_input">
      <%= f.url_field :references %>
    </p>
  </div>
<% end %>