<%= link_to 'Back', cards_path %>
<center>
<h1>New Card Fact</h1>

<%= form_for :card, url: cards_path do |f| %>

  <% if @card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> prohibited
      this card from being saved:</h2>
    <ul>
    <% @card.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>

    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
 
  <p>
    <%= f.label :fact %><br>
    <%= f.text_area :fact %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

  <p>
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </p>
<% end %>
</center>