<%= link_to 'Back', cards_path %>
<center>
<p>
  <strong>Subject:</strong>
  <%= @card.subject %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @card.content %>
</p>

<p>
  <strong>Fact:</strong>
  <%= @card.fact %>
</p>

<p>
  <strong>References:</strong>
  <%= @card.references %>
</p>
</center>