<%= link_to 'Back', cards_path %>
<% if current_user %>
<%= link_to 'Edit', edit_card_path(@card) %>
<% end %>
<center>
<p>
  <strong>Subject:</strong>
  <%= @card.subject %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @card.content %>
</p>

<p>
  <strong>Fact:</strong>
  <%= @card.fact %>
</p>

<p>
  <strong>References:</strong>
  <%= link_to @card.references %>
</p>
</center>

<h2>Comments</h2>
<%= render @card.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>