<%= link_to 'Back', cards_path %>
<%= link_to 'Edit', edit_card_path(@card) %>
<center>
<p>
  <strong>Subject:</strong>
  <%= @card.subject %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @card.content %>
</p>

<p>
  <strong>Fact:</strong>
  <%= @card.fact %>
</p>

<p>
  <strong>References:</strong>
  <%= @card.references %>
</p>
</center>

<h2>Add a comment:</h2>
<%= form_for([@card, @card.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>